td{
	width: 0 10px !important;
}
td:nth-child(odd) {
	background: #F7F7F7;
}
td:nth-child(even) {
	background: #F0F0F0;
}
th {
	text-align: center;
}
@media print  {
	.bloque1, .bloque2 {
		background: orange;
		display: block;
		/*width: 50%;*/
	}
	.table {
		font-size: 0.5em;
	}
	h4, h5, h6 {
		margin: 2px;
		padding: 2px;
	}
}